.contentMessage{
    margin: 0 auto;
    border-top: 1px solid #808080;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: 736px;
    gap: 10px;
}

.paragraphBold{
    color: #808080;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

.paragraphLight{
    color: #808080;
    font-size: 16px;
    font-weight: 300;;
    margin: 0px;
}

.imgEmpty{
    height: 56px;
    width: 56px;
    margin-top: 64px;
}