.taskContent{
    display: flex;
    background: #262626;
    border: 1px solid #333333;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
    border-radius: 8px;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;
    width: 736px;
    height: 72px;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 24px;
}

.taskContentButton{
    width: 16px;
	height: 16px;
	border-radius: 50%;
    background: transparent;
    border: 1px solid #4EA8DE;
    position: relative;
    outline: none;
}

.taskContentButtonClick{
    width: 16px;
	height: 16px;
	border-radius: 50%;
    background: #5E60CE;
    border: 1px solid #5E60CE;
    position: relative;
    outline: none;
    text-decoration-line: line-through;
}

.checkIcon{
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    transform: all .2s;
}

.checkIconActive{
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: visible;
    opacity: 1;
    transform: all .2s;
}

.taskContentButton:focus{
    outline: none;
}

.taskContentP{
    color: #F2F2F2;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    width: 600px;
    word-wrap: break-word;
    margin: 0;
    text-transform: capitalize;
}

.taskContentPActive{
    text-decoration-line: line-through;
    color: #808080;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    width: 600px;
    word-wrap: break-word;
    margin: 0;
}