body{
    margin: 0px;
}

.contentAllStatus{
    display: flex;
    flex-flow: column wrap;
    gap: 24px;
    width: 736px;
    margin: 0 auto;
    margin-top: 64px;
}

.contentTaskStatus{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 736px;
    height: 19px;
    margin: 0 auto;
    margin-top: 64px;
}

.contentTaskStatusCreated, .contentTaskStatusDone{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 8px;
    height: 19px;
    color: #D9D9D9;
}

.contentTaskStatusCreatedP{
    color: #4EA8DE;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.contentTaskStatusCreatedCounter{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    width: 24px;
    height: 19px;
    background: #333333;
    border-radius: 999px;
}

.contentTaskStatusDoneP{
    color: #8284FA;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.contentTaskStatusDoneCounter{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    width: 52px;
    height: 19px;
    background: #333333;
    border-radius: 999px;
}